@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Burayı ben yazdım.</p>
@{
    List<string> names= ["Ali","Veli","Ayşe","Fatma","John"];
        foreach(string name in names){
            <div>@name</div>
        }
}

@* @{

}

@(names.Count==0 ? "<div>Selam</div>" : "<div>Güle güle</div>")

@ *@