<li class="nav-header">KATEGORİLER</li>
<li class="nav-item">
    <a href="pages/widgets.html" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>Kategori Listesi</p>
    </a>
</li>
<li class="nav-item">
    <a href="pages/widgets.html" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>Kategori Ekle</p>
    </a>
</li>

<li class="nav-header">HIFILAR</li>
<li class="nav-item">
    <a href="pages/widgets.html" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>HiFi Listesi</p>
    </a>
</li>
<li class="nav-item">
    <a href="pages/widgets.html" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>HIFI Ekle</p>
    </a>
</li>

<li class="nav-header">ÜYELİK İŞLEMLERİ</li>
<li class="nav-item">
    <a href="pages/widgets.html" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>Çıkış Yap</p>
    </a>
</li>